[submodule "rn-starter"]
	path = rn-starter
	url = https://github.com/marcoamolinaro/react-native-hooks-rn-starter.git
[submodule "blog"]
	path = blog
	url = https://github.com/marcoamolinaro/react-native-hooks-blog.git
[submodule "food"]
	path = food
	url = https://github.com/marcoamolinaro/react-native-hooks-food.git
[submodule "tracker"]
	path = tracker
	url = https://github.com/marcoamolinaro/react-nativ-hooks-tracker.git
